<div class="container mx-auto flex flex-col p-5">
  <nav class="flex w-full justify-between bg-slate-100 p-5 rounded-xl">
    <a href="https://arivo.co" target="_blank">
      <img
        class="w-20"
        src="https://arivo.co/hubfs/Arivo%20Logos/Arivo_blau.svg"
        alt="Arivo Logo"
      />
    </a>

    <ul class="flex space-x-5 text-sm">
      <li>
        <a href="https://arivo.co" target="_blank">GitHub Repo</a>
      </li>
      <li>
        <a href="https://benjamin-raffetseder.com" target="_blank"
          >Benjamin Raffetseder</a
        >
      </li>
    </ul>
  </nav>
  <div class="p-5">
    <ng-content></ng-content>
  </div>
</div>
